[Unit]
Description=Internal DNS Sync
Documentation=https://github.com/melvyndekort/internal-dns-sync
Wants=network-online.target
After=network-online.target pihole.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Type=oneshot
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --rm \
  --sdnotify=conmon \
  --replace \
  --pull=newer \
  --name=internal-dns-sync \
  -v /var/containers/pihole:/etc/pihole:Z \
  -v /etc/internal-dns/deploy-key:/root/.ssh/deploy-key:ro,Z \
  --label io.containers.autoupdate=registry \
  ghcr.io/melvyndekort/internal-dns-sync:latest
ExecStopPost=/usr/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id

[Install]
WantedBy=multi-user.target
