[Unit]
Description=Internal DNS Sync Timer
Requires=internal-dns-sync.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=1min

[Install]
WantedBy=timers.target
